@import "tailwindcss";

/* importar fonte local */
@font-face {
  font-family: 'figtree'; /* Este nome deve ser o valor da variável */
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root{
  --yellow: #F4D04E;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  --black: #000;
  --white: #FFF;
  --figtree: 'figtree', sans-serif;
}


html {
  color-scheme: light dark;
  font-family: system-ui;
  scrollbar-width: none;  
}

body {
  font-family: var(--figtree); /* Chamando a variável */
}

